@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

/* Define root variables  */

:root {
	--main-txt-color: #333;
	--main-header-color: #fff;
	--shadow: 5px 8px 5px rgba(0, 0, 0, 0.203);
	--wrapper-width: 90%;
	--wrapper-height: 300px;
	--max-container-w: 1140px;
	--min-container-w: 325px;
	--bg-secondary: #6c757d;
	--bg-primary: #007bff;
	--bg-success: #28a645;
	--bg-danger: #dc3545;
	--bg-warning: #ffc107;
	--bg-info: #17a2b8;
	--bg-light: #f8f9fa;
	--bg-dark: #343a40;
	--bg-white: #fff;
	--bg-grey: #eee;
	--bg-navbar: #e2e9f1;
	--bg-sleek: #08faa9;
/*	--bg-fav-info: rgb(8, 250, 169);*/
}

.masthead {
	--main-masthead-color: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	/*	font-stretch: 100%;*/
}


/*Main container styles */

#main-container {
	margin: 0 auto;
	max-width: var(--max-container-w);
	min-width: var(--min-container-w)
	flex-basis: 95%;
	min-width: 325px;
	height: auto;
}

.main-header {
	display: flex;
	flex-direction: column;
	padding: 0 1px;
}


/* Styles Mobile First Approach */

.masthead {
	text-align: center;
	width: 100%;
	min-height: 256px;
	height: 100%;
	background: #fffffe;
/*	background-image: linear-gradient(105deg, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 0%, transparent 100%), url(../images/bg-header.jpg);*/

	background-size: cover;
	/*
	background: #000 url("../images/mobilescreen.png") no-repeat center top;
	background-size: cover;
*/
	order: 1;
	padding: 20px;
}


/*Styling mast head text content */

.masthead .masthead-body {
	height: auto;
	color: #205FD2;
	padding: 10px;
}

.masthead .masthead-body h1 {
	padding-bottom: 10px;
	font-size: 2.0rem;
	text-transform: uppercase;
}

.masthead .masthead-body p {
	color: #000;
	font-size: 1.2rem;
	line-height: 150%;
	letter-spacing: 3px;
}

.masthead .masthead-body .masthead-buttons {
	margin: 10px auto;
}

.masthead .masthead-body .downloadCV-button,
.masthead .masthead-body .hireMe-button {
	font-size: 1.1rem;
	display: block;
	width: 100%;
	height: auto;
/*	width: 140px;*/
	padding: 5px 22px;
	letter-spacing: 0.15rem;
	text-align: center;
	transition: all 1s ease-in;
}

.masthead .masthead-body .downloadCV-button {
	background: #3e81c5;	
	margin: 10px 0px;
	opacity: 0.65;
	
/*	margin-right: 20px;*/
}

.masthead .masthead-body .hireMe-button {
	color: #aaa;
	border: 1px solid rgba(0,230,255, 0.5);
}

.masthead .masthead-body .downloadCV-button:hover {
	background: #9a7434;
	color: #ccc;
}

.masthead .masthead-body .hireMe-button:hover {
	background: var(--bg-sleek);
	color: #fffffe;
}

.masthead .masthead-body a {
	text-decoration: none;
	color: var(--bg-light);
}


/*Social Media styles */

.mh-media-social {
	display: flex;
	order: 3;
}

.mh-media-social .fab-icons {
	flex-basis: 100%;
	/*	height: 100%;*/
	padding: 10px;
	background: var(--bg-grey);
	text-align: center;
	border-right: 1px solid var(--bg-light);
	transition: all 1s ease-in;
}

.mh-media-social .fab-icons .fab {
	color: var(--bg-dark);
	font-size: 2.2rem;
	transform: scale(1.0);
	transition: all 1s;
}

.mh-media-social .fab-icons:hover {
	background: #ccc;
}

.mh-media-social .fab-icons .fab:hover {
	color: deepskyblue;
	transform: scale(1.2);
}


/*Navigation and Logo Styles */

.navbar {
	flex-basis: 100%;
	height: 100px;
	padding: 4px;
	text-align: center;
	background: var(--bg-navbar);
	order: 0;
}

.navbar img {
	width: 50px;
	height: auto;
}

/*Styles for About me section */
.about-grid{	
	display: flex;
	flex-direction: column;
}
.profile {
	width: 100%;
	height: 100%;
	background: var(--bg-sleek);	
/*
	background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.95) 65%, rgba(255, 255, 255, 0.9) 0%, transparent 50%), url(../images/bg-header.jpg);
	background-size: contain;
	background-repeat: no-repeat;
*/
	background: var(--bg-sleek);	
}
.about-grid .profile img {
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 1.0rem;
}
.about-grid .about-me {
	margin: 0px auto;
	padding: 10px 20px;	
	color: var(--bg-light);
	background: var(--bg-dark);
}
.about-grid .about-me h2{
	font-size: 1.4rem;
}
.about-grid .about-me p{
	color: #bbb;
	font-size: 0.85rem;
}

.about-grid .skills{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--bg-light);
	
/*	background: var(--bg-primary);*/
	
}
.about-grid .skills h3{
	padding-bottom: 2px;
	font-size: 1.5rem;
	text-transform: uppercase;
	border-bottom: 2px solid #333;
}
.about-grid .skills .card{
	display: flex;
}
.about-grid .skills .card .progress{
	text-align: center;
	padding: 8px;
}
.about-grid .skills .card .progress .bar{
	margin: 5px auto;
	height: 205px;
	width: 2.5rem;
	background: #eee;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
/*	box-shadow: 0px 5px 25px rgba(0,0,2,.15);*/
	
}
.about-grid .skills .card .progress .bar .percent{
	background: var(--bg-sleek);
    border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
/*	box-shadow: 0px 5px 25px rgba(0,230,255,.25);*/
}

/* Styles for Video intro section */
#video-play{
	margin: 0 auto;
	width: 100%;
	height: auto;	
	background: #333 url(../images/mobilescreen.png) no-repeat center center;
	background-size: cover;
}
#video-play .video-overlay{
	width: 100%;
	padding: 5px 20px;
	opacity: 0.5;
	color: #eee;
	text-align: center;
	background: #000;	
}
#video-play .video-overlay i{
	color: #eee;
	transition: all 1s ease-in;
}
#video-play .video-overlay .fas:hover {
    color: var(--bg-danger);
}

/*Styles for my Projects section */
.projects{
	margin: 0px auto;
/*	padding: 10px;*/
	display: flex;
	flex-direction: column;
	align-items: center;	
	background: #eee;
}

.projects .works{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.projects .works .work-item {
	margin: 0px auto;
	padding: 15px;
	background: var(--bg-light);
	
	
}
.projects h1 {
	margin: 15px auto;
	font-size: 1.5rem;
	color: #aaa;
}
.projects .works .work-item p {
    margin-bottom: 10px;
}
.projects .works .work-item h4 {
	color: var(--bg-sleek);
	padding-bottom: 3px;
}
.projects .works .work-item img{
	width: 100%;
	height: 100%;
}
.work-item:nth-child(1),
.work-item:nth-child(2),
.work-item:nth-child(3),
.work-item:nth-child(4){
	box-shadow: var(--shadow);
	box-shadow: -1px 2px 15px rgba(0,0,0,.25);
}
.work-item:nth-child(1) {
/*    box-shadow: var(--shadow);*/
	order: 3;
}
.work-item:nth-child(2) {
/*    box-shadow: var(--shadow);*/
	order: 4;
}
.work-item:nth-child(3) {
/*    box-shadow: var(--shadow);*/
	order: 2;
}
.work-item:nth-child(4) {
/*    box-shadow: var(--shadow);*/
	order: 1;
}

/* styles for education background section */
.education {
	margin: 0 auto;
	padding: 20px auto;
	width: 100%;
	height: 100%;
	text-align: center;
}
.education h1 {
	display: block;
	padding: 15px;
	color: var(--bg-light);
	background: var(--bg-info);
}
.accordion{
   	margin: 0 auto;
	font-size: 1.0rem;
	text-align: center;
	background: #fff;
	max-height: 0rem;
	width: 100%;
	height: auto;
	overflow: hidden;
	transition: all .5s ease-out;	
}
.education h4 {
	display: block;
	color: #888;
	width: 100%;
	text-align: center;
	padding: 10px 20px;
	background: #eee;
	border-bottom: 1px solid #fffffe;
}
.education h4:hover {
	cursor: pointer;
}
.education h5{	
	margin-top: 1px;
	color: var(--bg-info);
}
.education .accordion p{
	font-size: 0.8rem;
	padding: 5px 10px;
	color: #aaa;
}
.fas-toggler{
	transform: rotate(-90deg);
	color: #888; var(--bg-secondary);
	transition: all 0.5s ease-in;
}
.open {
	display: block;
	padding: 10px 20px;
	max-height: 4.5rem;
}
.rotate{
	transform: rotate(0deg);
	transition: all 0.5s ease-in;
}

/*Styles for Footer section */
.footer{
	width: 100%;
	height: 178px;
	color: #eee;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #333 url('../images/footer-bg.png') no-repeat 0 0;
	background-size: cover;
}

.footer .footer-mast{
	order: 1;
	margin-top: 10px;
	font-size: 0.7rem;
}

.footer .footer-social{
	display: grid;
	grid-gap: 10px;
	justify-items:center;
}

.footer .footer-social .contactme {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.footer .footer-social .contactme .contactBtn {
	font-size: 1.0rem;
	border: none;
	padding: 5px 18px;
	color: #aaa;
	background: #333;
	border: 1px solid var(--bg-info);
	border-radius: 5px;
	transition: all 1s ease-in;
}
.footer .footer-social .contactme .contactBtn:hover {
	color: #333;
	background: #eee;
}
.footer .footer-social .footer-sm {
	display: flex;
	width: 100%;
	height: 36px;
}
.footer .footer-social .footer-sm .fas-footer {
	width: 36px;
	height: 100%;	
	margin-right: 5px;
	text-align: center;
	background: #eee;
	border-radius: 50%;
	transition: all 1s ease-in;
}
.footer .footer-social .footer-sm .fas-footer .fab {	
	padding: 10px;
	color: #00bff3;
	transition: all 1s ease-in;
	
}
.footer .footer-social .footer-sm .fas-footer:hover {
    background: #26c;
}
.footer .footer-social .footer-sm .fas-footer .fab:hover {
    background: none;
	color: #fffffe;
}


/* Mobile styles */

@media only screen and (max-width: 400px) {
	body {
		background: #f09a9d;
	}
}


/* Tablet styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
		background: #f5cf8e;
	}

	.main-header {
		flex-direction: row;
		flex-wrap: wrap;
		/*		background: yellow;*/
	}

	.masthead {
		flex: 1;
		height: auto;
		background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 55%, rgba(255, 255, 255, 0.9) 0%, transparent 50%), url(../images/bg-header.jpg);

		background-size: cover;
		/*
		opacity: 0.85;
		background: #000 url("../images/smallscreen.png") no-repeat center top;
		background-size: cover;
*/
	}

	.masthead .masthead-body {
		width: 90%;
		height: auto;
		line-height: 2;
		font-size: 1.2rem;
	}

	.masthead .masthead-body .masthead-buttons {
		margin: 20px auto;
	}

	/*Navigation and Logo Styles */
	.navbar {
		height: 62px;
		background: #eee;
		order: 3;
	}

	.navbar img {
		width: 30px;
		/*		height: auto;*/
	}

	/*Social Media styles */
	.mh-media-social {
		flex-direction: column;
		order: 3;
	}

	.mh-media-social .fab-icons {
		border: 1px solid var(--bg-light);
	}
}


/* Desktop styles */

@media only screen and (min-width: 961px) {
	body {
		background: #b2d6ff;
	}

	.masthead {
		height: 384px;
		opacity: .75;
		position: relative;

		background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 55%, rgba(255, 255, 255, 0.9) 0%, transparent 50%), url(../images/bg-header.jpg);

		background-size: cover;

	}

	.masthead .masthead-body h1 {
		/*
		padding-bottom: 10px;
		font-size: 2.5rem;
		text-transform: uppercase;
*/
	}

	.masthead .masthead-body p {
		/*
		color: #000;
		font-size: 1.5rem;
		line-height: 150%;
		letter-spacing: 3px;
*/
	}

	.masthead .masthead-body {
		width: 85%;
		font-size: 1.4rem;
	}

	.masthead .masthead-body .masthead-buttons {
		position: absolute;
		right: 15px;
		bottom: 40px;

		/*		margin: 20px auto;*/
	}
	
	.about-grid.profile {
		width: 100%;
		height: 300px;
		background: #eee;
	}
/*
	.masthead .masthead-body .downloadCV-button,
	.masthead .masthead-body .hireMe-button {
		font-size: .9rem;
		display: inline-block;
		width: 140px;
		padding: 5px 22px;
		text-align: center;
		transition: all 1s ease-in;
	}
*/
}


/* Mobile styles */


/*
@media only screen and (max-width: 367px) {
	
}
@media only screen and (max-device-width: 667px) {
	.imgClass {
		        content:url("../images/bg-masthead-img.jpg");
	}
}
*/


/* Tablet styles */


/*
@media only screen and (min-device-width: 667px) {
	.masthead {
		height: 384px;
		opacity: .75;
		background: #000 url("../images/bg-masthead-img.jpg") no-repeat center top;
		background-size: cover;
	}
}
.fa-twitter:before {
    content: "\f099";
}
*/
